
$color-1:#05acef;



$color-2:orange;

$color-3:#01a751;

$color-4:#cb92ab;







div .col-9 {
    border: 0.5px solid white;
  }
  
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-9 {
    border: 1px solid white;
    height: 30px;
  }
  
  .bg-white {
    background-color: #ffffff;
  }
  
  .bg-cyan {
    background-color: #05acef;
  }
  
  .bg-color-2 {
    background-color:$color-2;
  }

  .bg-color-4 {
    background-color:$color-4;
  }

  .bg-color-3 {
    background-color:$color-3;
  }